 .headerSection{
    background:#3498db;
    padding: 5px 0;
}
.headerContainer{
   width: 1250px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;

}
.headerLogo {
    width: 30%;
}
.headerLogo h1 {
    color: #fff;
    font-size: 37px;
    font-family: monospace,sans-serif;
}
.headerMenu {
    width: 70%;
}
.headerMenu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 50px;
}
.headerMenu ul a {
    display: inline-block;
    margin: 0 5px;
    padding: 0px 10px;
    color: #fff;
    font-size: 19px;
    font-family: monospace,sans-serif;
}
.navMenu{
    display: flex;
    align-items: center;
}
.signMenu{
    display: flex;
    align-items: center;
} 
.signMenu .UserDisplayName {
    font-size: 18px;
    color: #fff;
    margin-right: 5px;
}
.signMenu img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.active{
    background: #2980b9;
   
}
.headerMenu ul a {
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 0px 10px;
    color: #fff;
    font-size: 19px;
    font-family: monospace,sans-serif;
}


