.jobImg img{
   width:400px;
    height:250px;
}
.jobImg {
    width: 400px;
}
.jobItem{
    box-shadow: 1px 2px 20px 5px rgba(0,0,0, .2);
    border-radius: 5px;
}
.jobContent{
    padding: 10px 15px;
}
.jobButton{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px 15px;
    
    align-items: center;
    background: #3498db;
}
.moreInfoBtn {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    background: #333;
    padding: 4px 8px;
    display: inline-block;
    border-radius: 7px;
}
.moreInfoBtn:hover{
    background: #2980b9;
  }
  .jobContent h1 {
    font-weight: 500;
    line-height: 25px;
    font-family: system-ui;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}
.jobContent h2 {
    font-family: system-ui;
    font-weight: 400;
}
.jobContent h3 {
    font-family: system-ui;
    font-weight: normal;
}
.editDeleteBtn {
    display: flex;
    align-items: center;
    font-size: 20px;
    
    color: #fff;
}

  .editBtn,
  .deleteBtn,
  .favoriteBtn {
    background-color: #007bff; 
    color: #fff;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
    margin-right: 10px;
    
  }
  
  
  .editBtn:hover,
  .deleteBtn:hover,
  .favoriteBtn:hover {
    background-color: #0062cc;
  }
  
  
  .deleteBtn {
    background-color: #dc3545; 
  }
  
  .deleteBtn:hover {
    background-color: #c82333; 
  }
  
  
  .editDeleteBtn a {
    font-size: 14px;
    text-decoration: none;
  }
  
  
  .editDeleteBtn a svg {
    margin-right: 0px;
  }
  
/* Tablet Styles (768px to 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .jobButton,
  .editDeleteBtn {
    flex-direction: row;
  }

  .moreInfoBtn,
  .editBtn,
  .deleteBtn,
  .favoriteBtn {
    font-size: 18px;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

/* Laptop Styles (1024px to 1279px) */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .jobContent h1 {
    font-size: 28px;
    line-height: 35px;
  }

  .moreInfoBtn,
  .editBtn,
  .deleteBtn,
  .favoriteBtn {
    font-size: 20px;
  }
}

/* Desktop Styles (1280px and above) */
@media only screen and (min-width: 1280px) {
  .jobContent h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .moreInfoBtn,
  .editBtn,
  .deleteBtn,
  .favoriteBtn {
    font-size: 24px;
  }
}
   
  @media only screen and (min-width: 768px) {
    .jobButton,
    .editDeleteBtn {
      flex-direction: row; /* Reset to horizontal layout for larger screens */
      align-items: center;
    }
  }
  