.jobImg img{
   width:400px;
    height:250px;
}
.jobImg {
    width: 400px;
}
.jobItem{
    box-shadow: 1px 2px 20px 5px rgba(0,0,0, .2);
    border-radius: 5px;
}
.jobContent{
    padding: 10px 15px;
}
.jobButton{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px 15px;
    
    align-items: center;
    background: #3498db;
}
.moreInfoBtn{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}
.moreInfoBtn:hover{
    background: #2980b9;
  }