.jobsMainContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1200px;
    margin: 0 auto;
    gap: 20px;
}
.jobsMainContainer h1 {
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;
    line-height: 25px;
}
.jobsTitle {
    width: 600px;
    margin: auto;
    text-align: center;
    padding: 20px 0;
}
.jobsTitle h1 {
    font-family: sans-serif;
    margin-bottom: 6px;
}
.addJobBtn {
    display: inline-block;
    font-size: 25px;
    margin-top: 22px;
    background: #2e3e56;
    color: #fff;
    padding: 5px 82px;
    border-radius: 5px;
}
.addjobWrapper{
    text-align: center;
}